<!DOCTYPE html>
<html>
  <head>
    <style>
      /* Style CSS pour le contenu du mail */
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        background-color: #f5f5f5;
        padding: 50px;
      }
      h1 {
        color: #333;
        margin-bottom: 30px;
      }
      p {
        font-size: 18px;
        line-height: 1.5;
        margin-bottom: 20px;
      }
      .code-invitation {
        background-color: #fff;
        padding: 20px;
        border-radius: 5px;
        font-weight: bold;
        text-align: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        margin-top: 20px;
      }
      .code-invitation h2{
        margin: 0;
        font-size: 24px;
      }
    </style>
  </head>
  <body>
    <h1>Invitation au club de lecture</h1>
    <p>Bonjour,</p>
    <p>Pour créer un compte sur la Fédération Française de lecture, merci de cliquer sur le lien suivant : </p>
    <div class="code-invitation">
      <h2> deeplink.inc </h2>
    </div>
  </body>
</html>
